

@font-face {
    font-family: 'Hiragino Kaku Gothic Std';
    src: url(/wyldhaven/hiragino-kaku-gothic-std-w8.otf);
}

@font-face {
    font-family: 'Adobe Heiti Std', sans-serif;
    src: url(/wyldhaven/AdobeHeitiStd-Regular.otf);
}

body {
  background-image: none;
  background-color: black;
  margin: 0;
  font-family: 'Adobe Heiti Std', sans-serif;
}

@media only screen and (min-width: 64.375rem) {
  body {
    background-image: url(/wyldhaven/new_wyldhaven.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
}

.mobile-background {
    background-image: url(/wyldhaven/new_wyldhaven_mobile.png);
    position: fixed;
    width: 100%;
    z-index: -1;
    height: 100%;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-color: black;
    background-position: 50% 0;
    display: inherit;
}

@media only screen and (min-width: 26.25rem) {
  .mobile-background {
    background-image: url(/wyldhaven/new_wyldhaven.png);
  }
}

@media only screen and (min-width: 64.375rem) {
  .mobile-background {
    display: none;
  }
}

.outer-wrapper {
  max-width: 1366px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.navigation {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: -.5rem 0 0;
  z-index: 100;
  height: 5rem;
}

@media only screen and (min-width: 65.625rem) {
  .navigation {
    left: 3rem;
    right: auto;
    top: 2rem;
  }
}

.navigation ul {
  padding: 0;
  list-style-type: none;
  padding-top: 1.3rem;
}

.navigation li {
  padding: .6rem .5rem;
  font-size: 1.2rem;
  display: inline;
}

@media only screen and (min-width: 23.75rem) {
  .navigation li {
    padding: .6rem 1rem;
  }
}

@media only screen and (min-width: 65.625rem) {
  .navigation li {
    display: list-item;
    padding: .6rem 0;
  }
}

.navigation a:visited {
  color: #fff;
}

.navigation a {
  color: #fff;
  text-decoration: underline;
}

.navigation a:hover {
  text-decoration: none;
}

.home-section {
  margin-bottom: 22rem;
  position: relative;
  padding-top: 82%;
}

@media only screen and (min-width: 20.3125rem) {
  .home-section {
    padding-top: 73%;
  }
}

@media only screen and (min-width: 23.75rem) {
  .home-section {
    padding-top: 64%;
  }
}

@media only screen and (min-width: 26.25rem) {
  .home-section {
    padding-top: 83%;
  }
}

@media only screen and (min-width: 30.25rem) {
  .home-section {
    padding-top: 57%;
  }
}

@media only screen and (min-width: 38.5rem) {
  .home-section {
    padding-top: 51%;
  }
}

@media only screen and (min-width: 48.4375rem) {
  .home-section {
    padding-top: 36%;
  }
}

@media only screen and (min-width: 66.699999rem) {
  .home-section {
    margin-bottom: 40rem;
    padding-top: 47%;
  }
}

@media only screen and (min-width: 66.7rem) {
  .home-section {
    padding-top: 22%;
  }
}

@media only screen and (min-width: 85.375rem) {
  .home-section {
    padding-top: 24%;
  }
}

@media only screen and (min-width: 86rem)
.home-section {
    padding-top: 38rem;
}

h1 {
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 5px;
  font-family: 'Hiragino Kaku Gothic Std';
}

.oh_boy {
  width: 100%;
  z-index: 10000;
  position: relative;
  top: 4rem;
}

.oh_boy h3 {
  font-size: 3.5rem;
  font-family: 'Hiragino Kaku Gothic Std';
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
}

.oh_boy h3:after {
  content: '🤘';
  position: relative;
  display: inline-block;
  font-size: 3.5rem;
}

@media only screen and (min-width: 27rem) {
  .oh_boy h3 {
    font-size: 6rem;
  }
  .oh_boy h3:after {
    font-size: 6rem;
  }
}

@media only screen and (min-width: 66.7rem) {
  .oh_boy {
    top: 11rem;
  }
  .oh_boy h3 {
    font-size: 9rem;
  }
  .oh_boy h3:after {
    font-size: 9rem;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  h1 {
    font-family: 'Roboto';
  }
}

@-moz-document url-prefix() {
  h1 {
    font-family: 'Hiragino Kaku Gothic Std';
  }
}

@media only screen and (min-width: 25rem) {
  h1 {
   font-size: 2.2rem;
  }
}

@media only screen and (min-width: 46.875rem) {
  h1 {
   letter-spacing: 1.5rem;
   padding-left: 1.5rem;
   font-family: 'Hiragino Kaku Gothic Std';
  }
}

@media only screen and (min-width: 66.699999rem) {
  h1 {
    font-size: 3.5rem;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    h1 {
      font-family: 'Roboto' !important;
    }
  }

h2 {
  margin-top: 18%;
  font-size: 1.8rem;
  margin-bottom: 0;
  font-weight: normal;
}

@media only screen and (min-width: 20.3125rem) {
  h2 {
   margin-top: 35%;
  }
}

@media only screen and (min-width: 23.75rem) {
  h2 {
   margin-top: 45%;
  }
}

@media only screen and (min-width: 26.25rem) {
  h2 {
   margin-top: 48%;
  }
}

@media only screen and (min-width: 27rem) {
  h2 {
   margin-top: 28%;
  }
}

@media only screen and (min-width: 48.4375rem) {
  h2 {
   margin-top: 15%;
  }
}

@media only screen and (min-width: 65.625rem) {
  h2 {
   margin-top: 20%;
  }
}

@media only screen and (min-width: 85.375rem) {
  h2 {
   margin-top: 10%;
  }
}

.scroll {
  margin-top: 3rem;
  letter-spacing: 1.2rem;
  padding-left: 1.4rem;
  text-transform: uppercase;
  opacity: 0;
}

.arrow-container {
  opacity: 0;
}

.arrow {
  position: absolute;
  display: none!important;
  padding: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: -16rem;
  opacity: .2;
  z-index: -1;
  opacity: 0;
  -webkit-animation: pulse 5s infinite;
  animation: pulse 5s infinite;
}

@keyframes pulse {
    0%, 100% {
        opacity: 0.09;
    }
    50% {
        opacity: 0.35;
    }
}

@media only screen and (min-width: 66.7rem) {
  .arrow {
    display: inline;
  }
}

.music {
  position: relative;
}

.music-section {
  position: relative;
  margin-bottom: 22rem;
  padding: 6rem 1rem 8rem;
  display: block;
  align-items: center;
  justify-content: center;
}

.soundcloud-frame {
  max-width: 26rem;
}

.music-section .wrapper {
  z-index: 1;
  position: relative;
  display: block;
}

@media only screen and (min-width: 74.625rem) {
  .music-section {
    display: flex;
    margin-bottom: 40rem;
  }

  .music-section .wrapper {
    display: flex;
  }
}

.music-section .mobile-music-headers h2 {
  margin-top: 0;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: bold;
}

.music-section .mobile-music-headers p {
  margin-top: 0;
  margin-bottom: 2rem;
}

.music-section .mobile-music-headers {
  display: block;
}

@media only screen and (min-width: 74.625rem) {
  .music-section .mobile-music-headers {
    display: none;
  }
}

.album {
  max-width: 17rem;
  box-shadow: 5px 5px 13px -1px black;
}

@media only screen and (min-width: 26.25rem) {
  .album {
    max-width: 24rem;
  }
}

@media only screen and (min-width: 74.625rem) {
  .album {
    max-width: 35rem;
    max-height: 35rem;
  }
}

.spotify-test {
  margin-left: 0;
  margin-top: 3rem;
}

@media only screen and (min-width: 74.625rem) {
  .spotify-test {
    margin-left: 3rem;
    margin-top: 0;
  }
}

.spotify-test h2 {
  margin-top: 0;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: bold;
  display: none;
}

.spotify-test p {
  margin-top: 0;
  margin-bottom: 2rem;
  display: none;
}

@media only screen and (min-width: 74.625rem) {
  .spotify-test h2 {
    display: block;
  }

  .spotify-test p {
    display: block;
  }
}

.physical {
  color: white;
}

.physical-desk {
  display: none;
}

@media only screen and (min-width: 74.625rem) {
  .physical-desk {
    display: block;
  }
}

.physical-mobile {
  display: block;
}

@media only screen and (min-width: 74.625rem) {
  .physical-mobile {
    display: none;
  }
}

.music-section .cover {
  background-color: #000;
  opacity: .75;
  box-shadow: black 0px 0 22px 23px;
  z-index: 0;
  width: 96%;
  margin: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.social-music {
  display: inline-flex;
  justify-content: center;
  position: absolute;
  z-index: 100;
  bottom: 1rem;
  text-align: center;
  left: 0;
  right: 0;
}

.social-music a {
  margin: 0 .5rem;
}

.social-music img {
  max-width: 3rem;
}

.about-section {
  position: relative;
  margin-bottom: 0;
  padding: 8rem 1rem 12rem;
}

.about-section .wrapper {
  z-index: 1;
  position: relative;
}

@media only screen and (min-width: 65.625rem) {
  .about-section {
    padding: 20rem 1rem;
  }
}

.about-section .cover {
  background-color: #000;
  box-shadow: black 0px 0 22px 23px;
  opacity: .75;
  z-index: 0;
  width: 96%;
  margin: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.about-section p {
  width: 16rem;
  margin: 0 auto;
  font-size: 1.4rem;
  line-height: 1.5;
}

@media only screen and (min-width: 23.75rem) {
  .about-section p {
    width: 22rem;
  }
}

.social-about {
  display: inline-flex;
  justify-content: center;
  margin-top: 2rem;
  text-align: center;
  left: 0;
  right: 0;
}

.social-about a {
  margin: 0 .5rem;
}

.social-about img {
  max-width: 3rem;
}

.social-about .facebook {
  margin: 0;
}

.social-about .facebook img {
  max-width: 4.1rem;
  margin-top: -.52rem;
}

.logo {
  bottom: -12rem;
  max-width: 10rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

@media only screen and (min-width: 65.625rem) {
  .logo {
    bottom: -18rem;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .logo {
    bottom: -35rem;
  }
}

.new-single {
  margin-bottom: 0;
}

.social-music-single {
  display: block;
  justify-content: inherit;
  position: relative;
  margin-top: 2rem;
}

.social-music-single p {
  margin-bottom: 1rem;
  display: block;
}
