@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', sans-serif;
  padding: 0 50px;
  background-color: #fff8eb;
  max-width: 1400px;
  margin: 0 auto;
}

main {
  display: block;
  justify-content: space-between;
}

.selected {
  background-color: rgba(13, 173, 253, 0.37)
}

.underbrow {
  color: #aaa;
  margin-top: -.8rem;
  margin-bottom: 2.5rem;
}

.search {
  padding-bottom: 30px;
}

.search__label {
  font-weight: bold;
  font-size: 18px;
  color: #ffb433;
}
.search__input {
  padding: 5px;
  border: 1px solid #ffb433;
  border-radius: 3px;
}

select {
  color: #fff;
  background: #ffb433;
  border: 1px solid #fff8eb;
  padding-top: .1rem;
  border-radius: 5px;
}

.table {
  border: 1px solid #ffb433;
  border-radius: 8px;
  background-color: #fff;
  width: 100%;
  margin-bottom: 2rem;
  box-shadow: #ccc 3px 3px 12px -1px;
}

.album-title {
  padding-top: .1rem;
}

.table__row:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.table__header {
  background: #ffb433;
  font-weight: bold;
  color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.table__row {
  display: flex;
  padding: 5px;
  border-bottom: 1px solid #ffb433;
}

.table__row:last-child {
  border-bottom: 0;
}

.table__cell {
  margin-right: 10px;
}

.table__cell--short {
  flex-shrink: 0;
  width: 50px;
  color: #aaa;
}

.table__cell:last-child {
  margin-right: 0px;
  margin-left: 3rem;
}

.rowTag {
  cursor: move;
}

.rowTag:nth-child(odd) {
  background-color: #fff8eb;
}

.rowTag:hover {
  background-color: #ffb433;
  color: #fff;
}

.rowTag:hover .table__cell--short {
  color: #fff;
}

@media only screen and (min-width: 50rem) {
  main {
    display: flex;
  }

  .table {
    width: 48%;
  }
}
